.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.main-nav {
  width: 100%;
  display: flex;
  height: 56px ;
  margin: 0 auto;
}
.main-nav__wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.main-nav__list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  height: 100%;
}
.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__item--active {
  order: 1;
  color: #766357;
  background-color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__item:nth-child(2) {
  order: 2;
  flex: 1;
}
.main-nav__item:nth-child(3) {
  order: 4;
  flex: 1;
}
.main-nav__item:nth-child(4) {
  order: 5;
  flex: 1;
}
.main-nav__item--logo {
  order: 3;
  z-index: 10;
  flex: 1;
}
.main-nav__item:nth-child(2) a:hover,
.main-nav__item:nth-child(3) a:hover,
.main-nav__item:nth-child(4) a:hover {
  color: #81b3d2;
}
/*
@media (min-width: @mobile-width){

  .main-nav__item--closed{
    display: none;
  }
  .main-nav{
    
    &__menu{ 
      &--closed{
        background-image: url(../images/icon-menu.png);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        display: block;
        width: 50px;
        height: 50px;
      }
    }
  }
  .main-nav__item {
    &--logo{
      background-image: url(../images/logotyle-mobile.png);
      background-repeat: no-repeat;
      background-position-x: center;
      height: 96px;
    }
  }
}
*/
@media (min-width: 768px) {
  .main-nav__item--logo {
    order: 3;
    z-index: 10;
    flex: 1;
    background-image: url(../images/logotype-tablet.png);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 96px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item--logo {
    background-image: url(../images/logotype-desktop.svg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 96px;
  }
}
.main-page {
  width: 100%;
}
.main-page__image {
  position: relative;
}
.main-page__image--background {
  width: 100%;
}
.main-page__image--text {
  position: absolute;
  z-index: 19;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.main-page__image--overlay {
  position: absolute;
  z-index: 19;
  bottom: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .main-page__image--text {
    width: calc(37vw + 16px);
  }
}
@media (min-width: 1200px) {
  .main-page__image--text {
    width: 460px;
  }
}
.description__header {
  text-transform: uppercase;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.description__header--title {
  text-align: center;
  font-size: 21px;
  position: absolute;
  margin-bottom: 30px;
  line-height: 20px;
  font-weight: bold;
}
.description__header p {
  padding-top: 57px;
}
@media (min-width: 320px) {
  .description__header {
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .description__header {
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .description__header {
    padding-top: 30px;
  }
}
.features {
  margin-top: 30px;
  display: flex;
  width: 100%;
}
.features__first {
  background-color: #5590e2;
  text-align: center;
  flex: 1;
  display: flex;
  padding: 20px 0px;
  text-transform: uppercase;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}
.features__first p {
  color: white;
  margin: 10px 0px;
}
.features__image {
  flex: 2;
}
.features__image img {
  height: 100%;
  width: 100%;
}
.features__second {
  background-color: #5590e2;
  text-align: center;
  flex: 1;
  display: flex;
  padding: 20px 0px;
  text-transform: uppercase;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}
.features__second p {
  color: white;
  margin: 10px 0px;
}
.features__image--second {
  flex: 2;
}
.features__image--second img {
  height: 100%;
  width: 100%;
}
/*
@media (min-width: @mobile-width){
    .features{
        flex-direction: column;
    }
}
*/
@media (min-width: 768px) {
  .features__first {
    word-wrap: break-word;
    padding: 20px;
  }
  .features__first__image {
    flex: 3;
  }
  .features__second {
    word-wrap: break-word;
    padding: 20px;
  }
  .features__image--second {
    flex: 3;
  }
}
@media (min-width: 1200px) {
  .features__first__image {
    flex: 2;
  }
  .features__image--second {
    flex: 2;
  }
}
.advices {
  width: 100%;
  display: flex;
}
.advices ul {
  display: flex;
  width: 100%;
  padding: 30px 0px;
  margin: 30px 0px;
}
.advices__item {
  flex: 1;
  list-style: none;
  text-align: center;
}
.advices__title {
  color: black;
}
/*
@media (min-width: @mobile-width){
    .advices{
        display: flex;
        flex-direction: column;
        ul{
            display: flex;
            flex-direction: column;
        }
        &__item{
            display: flex;  
            img{
                display: block;
                min-width: 37px;
                height: 37px;
            }
            &--text{
                padding-left: 20px;
            }
        }
    }
}
*/
@media (min-width: 768px) {
  .advices__text {
    word-wrap: break-word;
    padding: 0px 5px;
  }
}
.reason {
  width: 100%;
  display: flex;
  background-color: #eeeeee;
  padding: 50px 0px;
}
.reason__item {
  flex: 1;
  list-style: none;
  text-align: center;
}
.reason__item h2 {
  color: black;
}
.reason__item__title {
  color: black;
}
/*
@media (min-width: @mobile-width){
    .reason{
        flex-direction: column;
    }
}
*/
@media (min-width: 768px) {
  .reason__item {
    padding: 0px 50px;
  }
}
.search-hotel {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0px;
  align-items: center;
}
.search-hotel__title {
  color: black;
  font-size: 30px;
}
.search-hotel__button {
  width: 40%;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  border-style: none;
  margin: 30px 0px;
}
.search-hotel__button:hover {
  background-color: #0a4a72;
  transition: background-color 0.2s ease;
}
@media (min-width: 768px) {
  .search-hotel__title--text {
    width: 55%;
  }
}
/*
 
 #map {
    height: 400px;  /* The height is 400 pixels */
/*  width: 100%;  /* The width is the width of the web page */
/* }   

   */
.map {
  width: 100%;
}
.map__sedona {
  width: 100%;
}
.footer-page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.footer-page__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
}
.footer-page__wrapper--hashtag {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 21px;
}
.footer-page__wrapper--development {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-page__wrapper--development img {
  padding-left: 20px;
}
.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  text-align: center;
}
.social__item:hover {
  background-color: #0a4a72;
  transition: background-color 0.2s ease;
}
.social__item img {
  margin-top: 15px;
}
body {
  width: 93.75%;
  min-width: 320px;
  color: #333;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0 3.125%;
  margin: 0;
  font-size: 14px;
}
h2 {
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
}
p {
  font-size: 14px;
  text-transform: uppercase;
  font-family: sans-serif;
}
.number {
  margin: 20px 0;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
