.advices{
    width: 100%;
    display: flex;
    
    ul{
        display: flex;
        width: 100%;
        padding: 30px 0px;
        margin: 30px 0px;
    }
    &__item{
        flex: 1;
        list-style: none;
        text-align: center;
    }
    &__title{
        color: black;
    }
}
/*
@media (min-width: @mobile-width){
    .advices{
        display: flex;
        flex-direction: column;
        ul{
            display: flex;
            flex-direction: column;
        }
        &__item{
            display: flex;  
            img{
                display: block;
                min-width: 37px;
                height: 37px;
            }
            &--text{
                padding-left: 20px;
            }
        }
    }
}
*/
@media (min-width: @tablet-width){
    .advices{
        &__text{
            word-wrap: break-word;
            padding: 0px 5px;
        }
    }
}