.description__header{
    text-transform: uppercase;
    font-family: sans-serif;
    display: flex;
    justify-content: center;

    &--title {
        text-align: center;
        font-size: 21px;
        position: absolute;
        margin-bottom: 30px;
        line-height: 20px;
        font-weight: bold;
    }
    p{ 
        padding-top: 57px;
    }
}
@media (min-width: @mobile-width){
    .description__header{
        padding-top: 10px;
    }
}

@media (min-width: @tablet-width){
    .description__header{
        padding-top: 20px;
    }
}

@media (min-width:@desktop-width){
    .description__header{
        padding-top: 30px;
    }
}