.features{
    margin-top: 30px;
    display: flex;
    width: 100%;
    &__first{
        background-color: #5590e2;
        text-align: center;
        flex: 1;
        display: flex;
        padding: 20px 0px;
        text-transform: uppercase;
        justify-content: center;
        flex-direction: column;
        font-family: sans-serif;
       
        p{
            color: white;
            margin: 10px 0px;
        }

    }
    &__image {
        flex: 2;
        img{
            height: 100%;
            width: 100%;
        }
    }
    &__second{
        background-color: #5590e2;
        text-align: center;
        flex: 1;
        display: flex;
        padding: 20px 0px;
        text-transform: uppercase;
        justify-content: center;
        flex-direction: column;
        font-family: sans-serif;
       
        p{
            color: white;
            margin: 10px 0px;
        }

    }
    &__image--second {
        flex: 2;
        img{
            height: 100%;
            width: 100%;
        }   
    }
}
/*
@media (min-width: @mobile-width){
    .features{
        flex-direction: column;
    }
}
*/
@media (min-width: @tablet-width){
    .features{
        &__first{
            word-wrap: break-word;
            padding: 20px;
            &__image {
                flex: 3;
            }
        }
        &__second{
            word-wrap: break-word;
            padding: 20px;
        }
        &__image--second {
            flex: 3;
        }
    }
}
@media (min-width:@desktop-width){
    .features{
        &__first{
            &__image {
                flex: 2;
            }
        }
        &__image--second {
            flex: 2;
        }
    }
}