@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }