.footer-page{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    &__wrapper{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        font-family: sans-serif;

        &--hashtag{
           font-family: sans-serif;
           font-weight: bold;
           font-size: 21px;
        }
        &--development{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                padding-left: 20px;
            }
        }
    }

}
.social__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.social__item{
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    text-align: center;
    &:hover{
        background-color: #0a4a72;
        transition: background-color 0.2s ease;
      }
    img{
        margin-top: 15px;
    }

}