.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
.main-nav{
  width: 100%;
  display: flex;
  height: 56px ;
  margin: 0 auto;
}
.main-nav__wrapper{
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.main-nav__list{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  height: 100%;
}
.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  &--active{
    order: 1;
    color: #766357;
    background-color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:nth-child(2){
    order: 2;  
    flex: 1;
  }
  &:nth-child(3){
    order: 4;
    flex: 1;
  }
  &:nth-child(4){
    order: 5;
    flex: 1;
  }

  &--logo{
    order: 3;
    z-index: 10;
    flex: 1;
  }
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4){
    a:hover{
      color: #81b3d2;
    }
  }
}
/*
@media (min-width: @mobile-width){

  .main-nav__item--closed{
    display: none;
  }
  .main-nav{
    
    &__menu{ 
      &--closed{
        background-image: url(../images/icon-menu.png);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        display: block;
        width: 50px;
        height: 50px;
      }
    }
  }
  .main-nav__item {
    &--logo{
      background-image: url(../images/logotyle-mobile.png);
      background-repeat: no-repeat;
      background-position-x: center;
      height: 96px;
    }
  }
}
*/
@media (min-width: @tablet-width) {
  
  
  .main-nav__item {
    &--logo{
      order: 3;
      z-index: 10;
      flex: 1;
      background-image: url(../images/logotype-tablet.png);
      background-repeat: no-repeat;
      background-position-x: center;
      height: 96px;
    }
  }
}
@media (min-width: @desktop-width) {
  
  .main-nav__item {
    &--logo{
      background-image: url(../images/logotype-desktop.svg.png);
      background-repeat: no-repeat;
      background-position-x: center;
      height: 96px;
    }
  }
}
