.main-page{
    width: 100%;

    &__image {
        position: relative;
        &--background{
            width: 100%;
        }
        &--text{
            position: absolute;
            z-index: 19;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &--overlay{
            position: absolute;
            z-index: 19;
            bottom: 0;
            width: 100%;
        }
    }
    
}
//     @media (min-width: @tablet-width){
   // &__image {
      //  &--background{
     //       background-image: url(../images/back-desktop.png);
        //    background-repeat: no-repeat;
       //     background-size: cover;
      //  }
    // }
//   }
@media (min-width: @mobile-width){
    
}
@media (min-width: @tablet-width){
    .main-page__image--text{
        width: calc(37vw + 16px);
    }
}
@media (min-width: @desktop-width){
    .main-page__image--text{
        width: 460px;
    }
}