 /*
 
 #map {
    height: 400px;  /* The height is 400 pixels */
  /*  width: 100%;  /* The width is the width of the web page */
  /* }   

   */
.map{
    width: 100%;
    &__sedona{
        width: 100%;
    }
}
