.reason{
    width: 100%;
    display: flex;
    background-color: #eeeeee;
    padding: 50px 0px;
    &__item{
        flex: 1;
        list-style: none;
        text-align: center;
        
        h2{
            color: black;
        }
        &__title{
            color: black;
        }
    }
}
/*
@media (min-width: @mobile-width){
    .reason{
        flex-direction: column;
    }
}
*/

@media (min-width: @tablet-width){
    .reason{
        &__item{
            padding: 0px 50px;
        }
    }

}
