body {
    
  width: 93.75%;
  min-width: 320px;
  color: #333;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0 3.125%; 
  margin: 0;
  font-size: 14px;
  
}
h2{
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  
}
p{
  font-size: 14px;
  text-transform: uppercase;
  font-family: sans-serif;
}
.number{
  margin: 20px 0;
  
}