.search-hotel{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 0px;
    align-items: center;
    &__title{
        color: black;
        font-size: 30px;

    }
    &__button{
        width: 40%;
        height: 58px;
        background-color:#81b3d2;
        color: white;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
        border-style: none;
        margin: 30px 0px;
        &:hover{
            background-color: #0a4a72;
            transition: background-color 0.2s ease;
          }

    }
}
@media (min-width: @tablet-width){
    .search-hotel{
        &__title{
            &--text{
                width: 55%;
            }
        }
    }
}